#sitemap {
  /*** 以下共通部位 ***/
  background-color: #fff;
  /*** 以下コンテンツ ***/
  .top {
    height: 448px;
    background-color: #EDEDED;
    position: relative;
    @include br(pc-responsive) {
      height: px_to_vw(448);
    }
    @include br('sp') {
      height: sp_vw(320);
    }
    &-meta {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  .map {
    &__box {
      padding: 88px 53px 94px;
      margin: 100px auto 170px;
      @include br('pc-responsive') {
        padding: px_to_vw(88) px_to_vw(53) px_to_vw(94);
        margin: px_to_vw(100) auto px_to_vw(170);
      }
      @include br('sp') {
        padding: sp_vw(50) 0 sp_vw(50);
        margin: sp_vw(53) auto sp_vw(64);
      }
    }
    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 800px;
      margin: 0 auto;
      @include br('pc-responsive') {
        width: px_to_vw(800);
      }
      @include br('sp') {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }
    &-contents {
      width: calc(33.333% - 100px * 2 / 3 );
      @include br('pc-responsive') {
        width: calc(33.333% - 7.8125vw * 2 / 3 );
      }
      @include br('sp') {
        width: sp_vw(204);
      }
      &:not(:nth-of-type(3n + 1)) {
        margin-left: 100px;
        @include br('pc-responsive') {
          margin-left: 7.8125vw;
        }
        @include br('sp') {
          margin-left: 0;
        }
      }
      &:nth-of-type(n + 4) {
        margin-top: 110px;
        @include br('pc-responsive') {
          margin-top: px_to_vw(110);
        }
        @include br('sp') {
          margin-top: 0;
        }
      }
      &:not(:first-child) {
        @include br('sp') {
          margin-top: sp_vw(50);
        }
      }
      &__ttl-link {
        @include font-mont;
        @include font18;
        font-weight: 500;
        color: #ED7050;
        letter-spacing: 0.02em;
        padding-bottom: 12px;
        display: inline-block;
        width: 100%;
        position: relative;
        transition: 0.3s;
        @include br('pc-responsive') {
          padding-bottom: px_to_vw(12);
        }
        @include br('sp') {
          padding-bottom: sp_vw(12);
        }
        &::before {
          position: absolute;
          content: '';
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #DE7759;
        }
        &:hover {
          opacity: 0.7;
        }
      }
  
      &__list {
        margin-top: 20px;
        @include br('pc-responsive') {
          margin-top: px_to_vw(20);
        }
        @include br('sp') {
          margin-top: sp_vw(30);
        }
        &:nth-of-type(2) {
          margin-top: 30px;
          @include br('pc-responsive') {
            margin-top: px_to_vw(30);
          }
          @include br('sp') {
            margin-top: sp_vw(30);
          }
        }
      }
      &__list-link {
        @include font16;
        letter-spacing: 0.1em;
        line-height: (28 / 16);
        color: #707070;
        white-space: nowrap;
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  
    &__bottom {
      margin-top: 110px;
      @include br('pc-responsive') {
        margin-top: px_to_vw(110);
      }
    }
    &__bottom-lists {
      padding-top: 95px;
      border-top: 1px solid #DDDDDD;
      display: flex;
      justify-content: center;
      @include br('pc-responsive') {
        padding-top: px_to_vw(95);
      }
      @include br('sp') { 
        padding-top: sp_vw(52);
        flex-direction: column;
        align-items: center;
      }
    }
    &__bottom-list {
      &:not(:first-child) {
        margin-left:57px;
        @include br('pc-responsive') {
          margin-left: px_to_vw(57);
        }
        @include br('sp') {
          margin-left: 0;
          margin-top: sp_vw(44);
        }
      }
    }
    &__bottom-link {
      @include font16;
      color: #F15D23;
      display: inline-block;
      width: 100%;
      letter-spacing: 0.1em;
    }
  }
}